<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="allTest" thread-count="1" parallel="tests">



<test name="boilerServiceTest">
<classes>
<class name="allTest.boilerServiceTest"/>
</classes>
</test>

<test name="Repair_category">
<classes>
<class name="configuration.Repair_category"/>
</classes>
</test>

<test name="ComponentTest">
<classes>
<class name="configuration.ComponentTest"/>
</classes>
</test>

<test name="Component_TypeTest">
<classes>
<class name="configuration.Component_TypeTest"/>
</classes>
</test>

<test name="Component_HeadersTest">
<classes>
<class name="configuration.Component_HeadersTest"/>
</classes>
</test>

<test name="Component_Status">
<classes>
<class name="configuration.Component_Status"/>
</classes>
</test>

<test name="Complience_Item">
<classes>
<class name="configuration.Complience_Item"/>
</classes>
</test>

<test name="ElectricalTestingReportTest">
<classes>
<class name="allTest.ElectricalTestingReportTest"/>
</classes>
</test>

<test name="exportCsvTest">
<classes>
<class name="allTest.exportCsvTest"/>
</classes>
</test>

<test name="unit_of_mesurment">
<classes>
<class name="configuration.unit_of_mesurment"/>
</classes>
</test>

<test name="Boiler_service_program_filterTest">
<classes>
<class name="allTest.Boiler_service_program_filterTest"/>
</classes>
</test>

<test name="projectTest">
<classes>
<class name="allTest.projectTest"/>
</classes>
</test>

<test name="Repair_CodesTest">
<classes>
<class name="configuration.Repair_CodesTest"/>
</classes>
</test>

<test name="searchFunctionTest">
<classes>
<class name="allTest.searchFunctionTest"/>
</classes>
</test>

<test name="Sub_categoryTest">
<classes>
<class name="configuration.Sub_categoryTest"/>
</classes>
</test>

<test name="vendors">
<classes>
<class name="allTest.vendors"/>
</classes>
</test>

<test name="Admins_Test">
<classes>
<class name="user_management.Admins_Test"/>
</classes>
</test>

<test name="Employees_Test">
<classes>
<class name="user_management.Employees_Test"/>
</classes>
</test>


<test name="Survey_types">
<classes>
<class name="surveys.Survey_types"/>
</classes>
</test>

<test name="Survey_Questions">
<classes>
<class name="surveys.Survey_Questions"/>
</classes>
</test>







<test  name="AssetManagement_Validation">
    <classes>
		<class name="Suite.AssetManagement_Validation"/>
	</classes>
	</test>
	
	<test name="block_Overview">
	<classes>
		<class name="Suite.block_Overview"/>
	</classes>
	</test>
	<test name="block_Tab">
	<classes>
		<class name="Suite.block_Tab"/>
	</classes>
	</test>

	
	<test name="properties_Tab">
	<classes>
		<class name="Suite.properties_Tab"/>
	</classes>
	</test>
	<test name="propeties_Overview">
	<classes>
		<class name="Suite.propeties_Overview"/>
	</classes>
	</test>
	
	<test name="schemes_Overview">
	<classes>
		<class name="Suite.schemes_Overview"/>
	</classes>
	</test>
	<test name="schemes_Tab">
	<classes>
		<class name="Suite.schemes_Tab"/>
	</classes>
	</test>
	
	
	<test name="BoilerServiceProgramme_Overview">
	<classes>
		<class name="Suite.BoilerServiceProgramme_Overview"/>
	</classes>
	</test>
	
	<test name="Vendor_Overview">
	<classes>
		<class name="Suite.Vendor_Overview"/>
	</classes>
	</test>
	<test name="gasBoilerServiceProgramme_ItemOverview">
	<classes>
		<class name="Suite.gasBoilerServiceProgramme_ItemOverview"/>
	</classes>
	</test>
	<test name="oilBoilerServiceProgramme_ItemOverview">
	<classes>
		<class name="Suite.oilBoilerServiceProgramme_ItemOverview"/>
	</classes>
	</test>
	
	<test name="schemes_SearchFunctionality">
	<classes>
		<class name="Suite.schemes_SearchFunctionality"/>
	</classes>
	</test>
	<test name="properties_SearchFunctionality">
	<classes>
		<class name="Suite.properties_SearchFunctionality"/>
	</classes>
	</test>
	<test name="boilerServiceProgramme_SearchFunctionality">
	<classes>
		<class name="Suite.boilerServiceProgramme_SearchFunctionality"/>
	</classes>
	</test>
	<test name="tenant_Overview">
	<classes>
		<class name="Suite.tenant_Overview"/>
	</classes>
	</test>
	<test name="sites_Overview">
	<classes>
		<class name="Suite.sites_Overview"/>
	</classes>
	</test>
	<test name="sites_Tab">
	<classes>
		<class name="Suite.sites_Tab"/>
	</classes>
	</test>
	<test name="Repairs_Overview">
	<classes>
		<class name="Suite.Repairs_Overview"/>
	</classes>
	</test>
	<test name="payments_Overview">
	<classes>
		<class name="Suite.payments_Overview"/>
	</classes>
	</test>
	<test name="ResourceManagement_Overview">
	<classes>
		<class name="Suite.ResourceManagement_Overview"/>
	</classes>
	</test>
	<test name="tickets_Overview">
	<classes>
		<class name="Suite.tickets_Overview"/>
	</classes>
	</test>
	<test name="Surveys_Overview">
	<classes>
	<class name="Suite.Surveys_Overview"/>
	</classes>
	</test>







</suite>